<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="archon-red">Utility Management</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!--
        <ion-item>
          <ion-input type="email" label="Email" label-placement="floating" placeholder="email@domain.com"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" label="Password" label-placement="floating" placeholder="password"></ion-input>
        </ion-item>
        -->
        <!-- Add the Auth0 login button -->
        <app-auth-button class="loginButton"></app-auth-button>

      </ion-card-content>
    
    </ion-card>
  </div>
</ion-content>
