<ion-header>
  <ion-toolbar class="archon-header-fill">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Alerts</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
<app-alert-card 
  [strAlarmName]="'High Flow'" 
  [dateTimeTriggered]="parseDateString('01/12/2023')"
  [strAlarmDescription]="'Alarm has exceeded its threshold of 10kl per day'"
></app-alert-card>

<app-alert-card></app-alert-card>
<app-alert-card></app-alert-card>
<app-alert-card></app-alert-card>


</ion-content>
