<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Tenant Name</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-icon name="bulb" slot="start" color="success" class="icon-container-margin large-icon"></ion-icon>
      <ion-label>
        Meter Number
        <p>Last Reading | kVA</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <p>Average Reading: "1234" </p>
        <p>Recent Alerts: "0" </p>
      </ion-label>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button color="danger" fill="clear" size="full">Alarm</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="success" fill="clear" size="full">Details</ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
